.container {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  background-color: rgb(250, 250, 249);
}

.form {
  background-color: white;
  padding: 5%;
  display: flex;
  flex-direction: column;
  width: 30%;
  box-shadow: 0px 0px 15px rgba(128, 128, 128, 0.318);
  border-radius: 25px;
}

.form_input > input {
  width: 100%;
  border-radius: 10px;
}

.form_controllers {
  margin: auto;
}

.form_controllers > p {
  padding: 0.5rem;
}
